[submodule "opensbi"]
	path = opensbi
	url = git@github.com:riscv-software-src/opensbi.git
[submodule "firmware/helloworld/tinyprintf"]
	path = firmware/helloworld/tinyprintf
	url = git@github.com:cjlano/tinyprintf.git
